<div class="content-wrapper">
  <!--START CONTENT HEADER -->
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Clients</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Clients</li>
            </ol>
          </div>
        </div>
      </div>
  </section>
  <!--END CONTENT HEADER -->
  <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des Clients</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px">
                <input #myInput
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search"
                  (keyup.enter)="doSearch(myInput.value)"
                />
                <div class="input-group-append">
                  <button (click)="doSearch(myInput.value)" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                  <button (click)="doSortDEC()" class="btn btn-default">
                    <i class="fas fa-sort-down"></i>
                  </button>
                  <button (click)="doSortCR()" class="btn btn-default">
                    <i class="fas fa-sort-up"></i>
                  </button>
                </div>
                
              </div>
  
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Numero de tel</th>
                  <th>Entreprise</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let customer of customers" >
                <tr>
                  <td>
                    {{ customer.firstName}}
                  </td>
                  <td>
                    {{ customer.lastName }}
                  </td>
                  <td>
                    {{ customer.phoneNumber }}
                  </td>
                  <td>
                    {{ customer.company }}
                  </td>
                  <td>
                    <button class="btn btn-success m-2" [routerLink]="['/update-customer',customer.id]" style="border-radius: 25px;"  >Modfier</button>
                    <button type="button" (click)="deleteCustomer(customer)" class="btn btn-danger " style="border-radius: 25px;" >Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div>
        </div>
          <!-- if customers empty then display a message -->
        <div
            *ngIf="customers?.length == 0"
            class="alert alert-warning col-md-12"
            role="alert">
            No customers found .
        </div>
      </div>
  </section>
</div>
  