<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Category</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Categories</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /.container-fluid -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-md-2"></div>  
          <div class="col-md-4">
            <div class="card card-success align-content-center">
              <div class="card-header">
                <h3 class="card-title">
                  Add <small>Category</small>
                </h3>
              </div>
  
              <form [formGroup]="addCategoryFormGroup" (ngSubmit)="onSubmit()">
                <div  class="card-body" formGroupName="category">
                  <div class="form-group">
                    <label>Name</label>
                    <input
                    type="text"
                    class="form-control"
                    placeholder="saisir le nom de votre produit ..."
                    formControlName="name"/>
                   
                    <div *ngIf=" addCategoryFormGroup.get('category.name').invalid && (addCategoryFormGroup.get('category.name').dirty ||  addCategoryFormGroup.get('category.name').touched)"
                      class="alert alert-danger mt-1"> 
                      <div *ngIf="  addCategoryFormGroup.get('category.name').errors.required ||  addCategoryFormGroup.get('category.name').errors.notOnlyWhitespace">
                          Name is required
                      </div>
                      <div *ngIf=" addCategoryFormGroup.get('category.name').errors.minlength">
                          Name must be at least 2 characters long
                      </div>
                      <div *ngIf=" addCategoryFormGroup.get('category.name').errors.pattern">
                      Name must be characters only
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                  <label>Description</label>
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Description de votre produit ..."
                      formControlName="description"/>

                    <div *ngIf=" addCategoryFormGroup.get('category.description').invalid && (addCategoryFormGroup.get('category.description').dirty ||  addCategoryFormGroup.get('category.description').touched)"
                      class="alert alert-danger mt-1"> 
                      <div *ngIf="  addCategoryFormGroup.get('category.description').errors.required ||  addCategoryFormGroup.get('category.description').errors.notOnlyWhitespace">
                          description is required
                      </div>
                      <div *ngIf=" addCategoryFormGroup.get('category.description').errors.minlength">
                          description must be at least 2 characters long
                      </div>
                      <div *ngIf=" addCategoryFormGroup.get('category.description').errors.pattern">
                      description must be characters only
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Ajouter Categorie  </button>
                  </div> 
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  
