<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>ajouter Client</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Ajouter-Client</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- /.container-fluid -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="card card-success align-content-center">
            <div class="card-header">
              <h3 class="card-title">Nouveau <small>Client</small></h3>
            </div>
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
              <div formGroupName="customer" class="card-body">
                <div class="form-group">
                  <label>Nom</label>
                  <input
                    type="text"
                    formControlName="firstName"
                    class="form-control"
                    placeholder="Enter Your first name ... "
                  />
                  <div
                    *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                    class="alert alert-danger mt-1">  
                    <div *ngIf=" firstName.errors.required || firstName.errors.notOnlyWhitespace">
                      ce champ est obligatoire
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                      Le nom doit comporter au moins 2 caractères
                    </div>
                    <div *ngIf="firstName.errors.pattern">
                      Le nom ne doit contenir que des caractères
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="lastName">Prenom</label>
                  <input
                    type="text"
                    formControlName="lastName"
                    class="form-control"
                    placeholder="Enter Your last name ... "
                  />
                  <div
                    *ngIf="
                      lastName.invalid && (lastName.dirty || lastName.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        lastName.errors.required ||
                        lastName.errors.notOnlyWhitespace
                      "
                    >
                    ce champ est obligatoire
                    </div>
                    <div *ngIf="lastName.errors.minlength">
                      Le Prenom doit comporter au moins 2 caractères
                    </div>
                    <div *ngIf="lastName.errors.pattern">
                      Le Prenom ne doit contenir que des caractères
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Numero de tel </label>
                  <input
                    type="text"
                    formControlName="phoneNumber"
                    class="form-control"
                    placeholder="Enter the phone number ... "
                  />
                  <div
                    *ngIf="
                      phoneNumber.invalid &&
                      (phoneNumber.dirty || phoneNumber.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        phoneNumber.errors.required ||
                        phoneNumber.errors.notOnlyWhitespace
                      "
                    >
                      ce champ est obligatoire *
                    </div>
                    <div *ngIf="phoneNumber.errors.pattern">
                      doit être long de 8 chiffres
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="company">Entreprise</label>
                  <input
                    type="text"
                    formControlName="company"
                    class="form-control"
                    placeholder="Saisie le nom de entreprise ..."
                  />
                  <div
                    *ngIf="
                      company.invalid && (company.dirty || company.touched)
                    "
                    class="alert alert-danger mt-1"
                  >
                    <div
                      *ngIf="
                        company.errors.required ||
                        company.errors.notOnlyWhitespace
                      "
                    >
                      ce champ est obligatoire
                    </div>
                    <div *ngIf="company.errors.minlength">
                      entreprise doit comporter au moins 2 caractères
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success">
                    Générer une facture
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-4">
          <div class="position-relative p-3 bg-dark" style="height: 200px; width: 230px">
            <div class="ribbon-wrapper">
              <div class="ribbon bg-success">OU</div>
            </div>
            <p>Choisir un client existant :</p>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="customerTel"  (change)="onChange()">
                <label >Choisir ... </label>
                <option [ngValue]="null" selected >Select Client</option>
                <option *ngFor="let customer of customers" [ngValue]="customer.phoneNumber" >
                {{customer.firstName}} {{ customer.lastName}}  - <small>{{ customer.phoneNumber}}</small>
                </option>
              </select>
            </div>
            <span
              style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif; font-weight: bold;">
              Total Quantité : {{ totalQuantity }}
            </span>
            <br />
            <span
              style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif;font-weight: bold;">
              Total Prix : {{ totalPrice | currency: "TND" }} </span
            ><br />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
